In [1]:
1.
import pandas as pd

# Creating the pandas Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Printing the series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
2.
import pandas as pd

# Creating a list with 10 elements
data_list = [3, 7, 9, 14, 18, 21, 25, 30, 35, 40]

# Converting the list to a pandas Series
series_from_list = pd.Series(data_list)

# Printing the series
print(series_from_list)

0     3
1     7
2     9
3    14
4    18
5    21
6    25
7    30
8    35
9    40
dtype: int64

In [3]:
3.
import pandas as pd

# Creating the data as a dictionary
data = {
    "Name": ["Alice", "Bob", "Claire"],
    "Age": [25, 30, 27],
    "Gender": ["Female", "Male", "Female"]
}

# Converting the dictionary to a pandas DataFrame
df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [4]:
4.
'''A DataFrame in Pandas is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns). It is similar to a table in a relational database or an Excel spreadsheet.

A Series in Pandas, on the other hand, is a one-dimensional array-like object containing a sequence of values (of any data type) and an associated array of data labels, called its index.'''

import pandas as pd

# Creating a pandas Series
data_series = pd.Series([4, 8, 15, 16, 23, 42])

print("Pandas Series:")
print(data_series)

Pandas Series:
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [6]:
5.
''' Pandas provides a wide range of functions to manipulate data in a DataFrame. Some of the most common functions include:

head() and tail(): View the first or last n rows of the DataFrame.
info(): Get a concise summary of the DataFrame.
describe(): Generate descriptive statistics.
drop(): Remove rows or columns by specifying label names and axis.
loc and iloc: Access a group of rows and columns by labels or indices.
groupby(): Group DataFrame using a mapper or by a Series of columns.'''

import pandas as pd

# Creating a sample DataFrame
data = {
    "Product": ["A", "B", "A", "B", "C", "A", "C"],
    "Category": ["X", "X", "Y", "Y", "X", "X", "Y"],
    "Sales": [100, 150, 200, 250, 300, 350, 400]
}

df = pd.DataFrame(data)

# Grouping by 'Category' and calculating the total sales for each category
total_sales_by_category = df.groupby("Category")["Sales"].sum()

print(total_sales_by_category)

Category
X    900
Y    850
Name: Sales, dtype: int64

In [7]:
6.

'''In Pandas, both Series and DataFrame are mutable in nature, meaning you can modify their data after they have been created. However, Panel is not a part of the latest versions of Pandas. It was deprecated in version 0.20.0 and removed in version 1.0.0, as it was not widely used and had overlapping functionality with the more flexible DataFrame'''

'In Pandas, both Series and DataFrame are mutable in nature, meaning you can modify their data after they have been created. However, Panel is not a part of the latest versions of Pandas. It was deprecated in version 0.20.0 and removed in version 1.0.0, as it was not widely used and had overlapping functionality with the more flexible DataFrame'

In [8]:
8.

import pandas as pd

# Creating individual Series
names = pd.Series(["Alice", "Bob", "Claire"])
ages = pd.Series([25, 30, 27])
genders = pd.Series(["Female", "Male", "Female"])

# Creating a DataFrame using the Series
df = pd.DataFrame({
    "Name": names,
    "Age": ages,
    "Gender": genders
})

# Printing the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female